---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import PromptCard from "../../components/PromptCard.astro";
import PromptGroup from "../../components/PromptGroup.astro";

const prompts = (await getCollection("prompts")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const allCategories = [...new Set(prompts.map((p) => p.data.category))];

const groupedPrompts = allCategories.reduce(
	(acc, category) => {
		acc[category] = prompts.filter((p) => p.data.category === category);
		return acc;
	},
	{} as Record<string, typeof prompts>,
);
---

<Layout
	title="All Prompts"
	description="Browse our collection of high-quality prompts."
>
	<div class="mb-12 text-center">
		<h1 class="text-4xl md:text-5xl font-bold mb-4">Prompt Library</h1>
		<p class="text-xl text-slate-400 max-w-2xl mx-auto">
			Explore our curated collection of prompts for coding, writing, and
			productivity.
		</p>
	</div>

	<div class="space-y-12">
		{
			allCategories.map((category) => (
				<PromptGroup
					title={category}
					href={`/prompt-library/prompts/${category.toLowerCase()}`}
					prompts={groupedPrompts[category]}
				/>
			))
		}
	</div>
</Layout>
